@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */

html {
  background-color: yellow;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  margin-top: 200px;
  color: yellow;
}

#dot1 {
  background-color: darkviolet;
  font-size: 40px;
}

#dot2 {
  background-color: deepskyblue;
  font-size: 40px;
}

#dot3 {
  background-color: lime;
  font-size: 40px;
}

#dot4 {
  background-color: orange;
  font-size: 40px;
}

#dot5 {
  background-color: fuchsia;
  font-size: 40px;
}

#dot6 {
  background-color: lightskyblue;
  font-size: 40px;
}

#dot7 {
  background-color: red;
  font-size: 40px;
}

.dot {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 100px;

}
